<h1>Hello</h1>
<p>I am from Hello page</p>

<b> ID: </b> <%=  @id %>      <br>
<b> Name: </b> <%=  @name %>  <br>
<b> page: </b> <%=  @page %>  <br>

<br>
<%= link_to("rails link to page index", {:action => 'index'}) %>
